.products-area{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 9.5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background: rgb(226, 234, 235);
   }
  .title{
      margin:auto;
      text-align: center;
      margin-top: 20vh;
  }