<div mat-dialog-content>
    <p>
        How many {{this.data.productitem.product_name}} do you like?
    </p>
    <button>
        <span class="material-icons" (click)="this.data.amount=this.data.amount-1">
            remove
        </span>
    </button>
    <input matInput #amount [value]="this.data.amount" type="Number" min="1" max="100">
    <button>
        <span class="material-icons" (click)="this.data.amount=this.data.amount+1">
            add
        </span>
    </button>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close
        (click)="addproduct(amount.value,this.data.productitem.product_id);this.dialogRef.close()">ADD TO
        CART</button>
</div>