.example-card {
    width: 17vw;
    margin: 5px;
  font-family: 'Merriweather', serif;
  background:rgba(201, 207, 207, 0.411);
  }
  .header{
      height:11.6vh;
      margin-left: -30px;
      margin-right: -16px;
    text-align: center;
    width:16.4vw;
  }
  .mat-card-actions{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .title{
    text-decoration: underline;
    text-decoration-color:rgb(141, 182, 172);
    line-height: 1.2;
    font-size:17px;
  }

  .button{
  font-family: 'Merriweather', serif;
  background:rgb(141, 182, 172);
  }