<mat-card class="example-card">
    <mat-card-header>
        <div class="header">
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title class="title">{{productitem.product_name}}</mat-card-title>
            <mat-card-subtitle>{{productitem.product_price}}$</mat-card-subtitle>
        </div>
    </mat-card-header>
    <img mat-card-image [src]="productitem.image" [alt]='"photo of "+productitem.product_name'>
    <mat-card-actions>
        <button class="button" *ngIf="!this._data.loggedUser.access" (click)="openDialog()" mat-button>Add to
            cart</button>
        <button class="button" *ngIf="this._data.loggedUser.access" mat-button (click)="openeditform()">Edit
            product</button>
    </mat-card-actions>
</mat-card>